DJANGO_LOG_LEVEL="DEBUG"
DJANGO_LOG_FILE="loggingtest.txt"
BETTERSTACK_SOURCE_TOKEN=

USE_S3="TRUE"
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=

MONGODB_HOST=
MONGODB_NAME="social_network"
MONGODB_USERNAME=
MONGODB_PASSWORD=

POSTGRES_DB="social_network"
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT="5432"

REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=

KAFKA_HOST=host_ec2_kafka
KAFKA_PORT=29092