
# pip install -r requirements.txt

asgiref
Django
psycopg2-binary
python-dotenv
sqlparse
tzdata
whitenoise
djangorestframework
django-cors-headers
pyjwt
pillow
channels
daphne
docker
mongoengine
django_mongoengine
django-rest-framework-mongoengine
django-storages
boto3


