asgiref==3.7.2
Django==3.2.10
psycopg2==2.9.9
python-dotenv==1.0.1
sqlparse
tzdata==2023.4
whitenoise==6.6.0
djangorestframework==3.13.1
django-cors-headers==4.0.0
pyjwt==2.3.0
pillow
djongo
channels
daphne
docker

