<div class="chat" id="-1">
    <div class="contact bar">
      <img class="pic stark"></img>
      <div class="name">
        Name
      </div>
    </div>
    <div class="messages" id="chat">
      <div class="message stark">
        Kid, where'd you come from? 
      </div>
      <div class="message parker">
        Field trip! 🤣
      </div>
      <div class="message parker">
        Uh, what is this guy's problem, Mr. Stark? 🤔
      </div>
      <div class="message stark">
        Uh, he's from space, he came here to steal a necklace from a wizard.
      </div>
    </div>
    <div class="input">
      <i class="fas fa-camera"></i>
      <i class="far fa-laugh-beam"></i>
      <input id="Send_Message" placeholder="Type your message here!" type="text"  onkeypress="sendMessage(event)"/>
      <i class="fas fa-microphone"></i>
    </div>
  </div>