{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat App</title>
  <link rel="stylesheet" href="{% static 'homepage/css/chat.css' %}">
  {% comment %} <link rel="stylesheet" href="{% static 'chat/css/chat.css' %}"> {% endcomment %}
  <link rel="stylesheet" href="{% static 'chat/css/style.css' %}">
</head>
<body>

  <div class="container">
    <div class="chat" id="chatContainer">
      <div class="contact bar" id="chatHeader">
        <img class="pic stark"></img>
        <div class="name">
          
        </div>
      </div>
      <div class="messages" id="chat">
      </div>
        
        <div class="chatInput input">
          <input type="text" id="messageInput" placeholder="Type a message...">
          <button id="sendMessageBtn"><i class="fa fa-paper-plane"></i></button>
        </div>
   
    </div>
  </div>
  <script src="{% static 'chat/js/chat.js' %}"></script>
</body>
</html>
