{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat App</title>
  <link rel="stylesheet" href="{% static 'chat/css/chat.css' %}">
  <link rel="stylesheet" href="{% static 'chat/css/style.css' %}">
</head>
<body>

  <div class="container">
    <div class="sidebar">
      <h2>Messeeji</h2>
      <input type="text" id="search" placeholder="Search...">
      <ul id="userList">
        <!-- Conversation list will be populated dynamically -->
      </ul>
    </div>
    <div class="chat" id="chatContainer">
      <div id="chatHeader"></div>
      <div id="chatMessages">
      </div>

      <div class="chatInput">
        <input type="text" id="messageInput" placeholder="Type a message...">
        <button id="sendMessageBtn">Send</button>
      </div>
    </div>
  </div>
  <script src="{% static 'chat/js/chat.js' %}"></script>
</body>
</html>
