{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat App</title>
  <link rel="stylesheet" href="{% static 'homepage/css/chat.css' %}">
  {% comment %} <link rel="stylesheet" href="{% static 'chat/css/chat.css' %}"> {% endcomment %}
  <link rel="stylesheet" href="{% static 'chat/css/style.css' %}">
</head>
<body>

  <div class="container">
    <div id="chatBox" class="chat hide">
      <div class="chat" id="chatContainer">
        <div class="contact bar" id="chatHeader">
          <img class="avt"></img>
          <div class="name"></div>
        </div>
        <div class="messages" id="chat">
        </div>
        <div class="chatInput input">
            <input type="text" id="messageInput" placeholder="Type a message...">
            <button id="sendMessageBtn"><i class="fa fa-paper-plane"></i></button>
        </div>
      </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const contactList = document.getElementById('userList');
      const chatBox = document.getElementById('chatBox');
  
      // Add click event listener to each contact
      contactList.addEventListener('click', function(event) {
        const contact = event.target.closest('.contact');
        if (contact) {
          // Get user ID from data attribute
          const userId = contact.dataset.userId;
          // You can load chat history, user info, etc. based on the user ID
          // For simplicity, let's just show the chat box
          chatBox.classList.remove('hide');
        }
      });
    });
  </script>
  </div>
  <script src="{% static 'chat/js/chat.js' %}"></script>
</body>
</html>
