body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 300px;
  background-color: #4267B2; /* Facebook Blue */
  color: #fff;
  padding: 20px;
  height: 535px;
}

.chat {
  flex: 1;
  padding: 20px;
  background-color: #fff; /* Change background color */
  display: flex;
  flex-direction: column;
}

h2 {
  margin-top: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Lighter border */
}

li:last-child {
  border-bottom: none;
}

.chatInput {
  margin-top: auto;
  display: flex; /* Add display flex for alignment */
  align-items: center; /* Align items center */
}

#chatMessages {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 20px;
}

.message {
  /* display: inline-block; */
  background-color: #f0f0f0; /* Lighter background */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  max-width: 70%;
}

.message.sent {
  align-self: flex-end;
  text-align: right;
  color: #fff;
  background-color: #4267B2; /* Facebook Blue */
}

.message.received {
  align-self: flex-start;
  text-align: left;
  background-color: #f0f0f0; /* Lighter background */
}

#messageInput {
  flex: 1; /* Take remaining space */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-right: 10px;
}

#sendMessageBtn {
  background-color: #4267B2; /* Facebook Blue */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

#sendMessageBtn:hover {
  background-color: #365899; /* Darker Facebook Blue */
}

#search {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f0f0f0; /* Lighter background */
  color: #333; /* Darker text color */
}

#search::placeholder {
  color: #666; /* Lighter placeholder text color */
}

#chatHeader {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}
