{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'homepage/css/chat.css' %}">
    <title>Socialbook</title>
    <script src="https://kit.fontawesome.com/ef7e2b893b.js" crossorigin="anonymous"></script>
</head>

<body>
    {% include 'navbar/navbar.html' %}
    <!-- content-area------------ -->

    <div class="container-homepage" style="display: flex; justify-content: space-between; padding: 10px 20px;">
        <div class="left-sidebar">
            <div class="important-links">
                <a href="#"><img src="{%static 'homepage/images/news.png'%}" alt="">Latest News</a>
                <a href="{% url 'friends:friend' %}"><img src="{%static 'homepage/images/friends.png'%}" alt="">Friends</a>
                <a href="#"><img src="{%static 'homepage/images/group.png'%}" alt="">Groups</a>
                <a href="#"><img src="{%static 'homepage/images/marketplace.png'%}" alt="">marketplace</a>
                <a href="#"><img src="{%static 'homepage/images/watch.png'%}" alt="">Watch</a>
                <a href="#">See More</a>
            </div>
        </div>

        <!-- main-content------- -->

        {% include 'posts/posts.html' %}
        <!-- sidebar------------ -->
        <div class="right-sidebar">
           
            <div class="chat-header">
                {% comment %} <h4>Conversation</h4> {% endcomment %}
                <a href="#" id="toggleChat">Hide Chat</a>
                <!-- Add a list of contacts -->
                    <!-- Update the contact list structure -->
                    <div id="userList" class="contact-list">
                    </div>
  

            </div>
            <div class="chat-container">
            {% include 'chat/index.html' %}       
            </div>
        </div> 
    </div>
    <footer id="footer">
        
    </footer>

    <script src="{% static 'homepage/js/homepage.js' %}"></script>
    <script src="{% static 'chat/js/chat.js' %}"></script>
    
</body>
</html>