.gallery-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: dense;
    gap: 6px;
    height: fit-content;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: span 4 / auto;
}

.gallery-image.gallery-two-grid-cells {
    grid-column: span 6 / auto;
    height: 300px;
}

.gallery-image.gallery-three-grid-cells {
    grid-column: span 6 / auto;
}

.gallery-image.gallery-four-grid-cells {
    grid-column: span 12 / auto;
    height: 360px;
}

.gallery-image.gallery-wide-image {
    grid-column: span 6 / auto;
}

.gallery-image.gallery-normal-image {
    grid-column: span 12;
    height: 480px;
}

.image-container {
    position: relative;
}

.gallery-image-overlay {
    position: relative;
    top: -102%;
    background: rgba(0, 0, 0, 0.507);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
}

.gallery-image-overlay .gallery-plus {
    color: white;
    font-size: 40px;
}