{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link type="text/css" href="{%static 'navbar/css/navbar.css' %}" rel="stylesheet" />
    <title>Profle - Socialbook</title>
    
</head>
<body>
  <nav class="big_navbar">
    <ul>
        <li> <a href="{% url 'homepage:homepage' %}" id="fb"> <i class="fab fa-facebook-f    "></i> </a> </li>
        <!-- <li> <button id="search_btn" class="tooltip" data-tooltip="Search"> <i class="fas fa-search    "></i> </button> </li> -->
        <div class="search-box">
          <img src="{% static 'userprofiles/media/search.png' %}" alt="">
          <input type="text" placeholder="Search">
        </div>
        <li id="space2"></li>
        
        <li> <a class="tooltip active" data-tooltip="Home" href="{% url 'homepage:homepage' %}" id="home"> <img src="{%static '/userprofiles/media/profile-home.png' %}"> </a> </li>
        {% comment %} <li> <a class="tooltip active" data-tooltip="Home" href="{% url 'homepage:homepage' %}" id="home"> <i class="fas fa-home    "></i> </a> </li> {% endcomment %}
        <li> <a class="tooltip" data-tooltip="Group" href="#" id="group"> <img src="{%static 'navbar/media/friends.png' %}" style="height:35px; width:35px;"> </a></li>
        <li> <a class="tooltip" data-tooltip="Watch" href="#" id="tv"> <img src="{%static 'navbar/media/watch.png' %}" style="width:35px; height:35px"> </a> </li>
        <li> <a class="tooltip" data-tooltip="Friend" href="{% url 'friends:friend' %}" id="friend"> <img src="{%static 'navbar/media/add-user.png' %}" style="height:35px; width:35px" > </a> </li>
        <li id="space1"></li>
        <!-- <li> <button class="tooltip" data-tooltip="Add" id="btn_plus"><i class="fas fa-plus    "></i></button> </li> -->
        <li> <button class="tooltip" data-tooltip="Message" id="btn_msg"><i class="fab fa-facebook-messenger    "></i></button></li>
        <li> <button class="tooltip" data-tooltip="Notification" id="btn_bell"> <i class="fas fa-bell    "></i></button></li>
        <div class="profile-image online" onclick="UserSettingToggle()">
            <div class="profileImage">
                
            </div>
          
        </div>
        
    </ul>
    <div class="user-settings">
        <div class="profile-darkButton">
            <div class="user-profile">
                <a href="{% url 'userprofiles:profile'%}" class="inforUser">
                    <div class="profileImage">

                    </div>
                    <div id="userName1" class="userNameIcon">
                
                    </div>
                </a>
            </div>
            {% comment %} <div id="dark-button" onclick="darkModeON()">
                <span></span>
            </div> {% endcomment %}
        </div>
        <hr>
        <div class="user-profile">
            <img src="{% static 'userprofiles/media/change-profile.png' %}" alt="">
            <div>
                <p> View all personal content</p>
            </div>
        </div>
        <hr>
        <div class="settings-links">
            <img src="{% static 'userprofiles/media/setting.png' %}" alt="" class="settings-icon">
            <a href="#">Settings - Privary <img src="{% static 'userprofiles/media/arrow.png' %}" alt=""></a>
        </div>
    
        <div class="settings-links">
            <img src="{% static 'userprofiles/media/help.png' %}" alt="" class="settings-icon">
            <a href="#">Help - Support <img src="{% static 'userprofiles/media/arrow.png' %}" alt=""></a>
        </div>
    
        <div class="settings-links">
            <img src="{% static 'userprofiles/media/display.png' %}" alt="" class="settings-icon">
            <a href="#">Display - Accessibility <img src="{% static 'userprofiles/media/arrow.png' %}" alt=""></a>
        </div>
    
        <div class="settings-links">
            <img src="{% static 'userprofiles/media/logout.png' %}" alt="" class="settings-icon">
            <a href="{% url 'users:login' %}">Logout <img src="{% static 'userprofiles/media/arrow.png' %}" alt=""></a>
        </div>
    
    </div>
  </nav>
  
  <script src="{%static 'navbar/js/navbar.js' %}" ></script>
  <script src="{%static 'navbar/js/in4user.js' %}" ></script>
  <script src="https://kit.fontawesome.com/ef7e2b893b.js" crossorigin="anonymous"></script>

</body>

</html>
