{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="{%static 'navbar/css/navbar.css' %}" rel="stylesheet" />
    <title>Profle - Socialbook</title>
    
</head>
<body>
  <nav class="big_navbar">
    <ul>
        <li> <a href="{% url 'homepage:homepage' %}" id="fb"> <i class="fab fa-facebook-f    "></i> </a> </li>
        <!-- <li> <button id="search_btn" class="tooltip" data-tooltip="Search"> <i class="fas fa-search    "></i> </button> </li> -->
        <div class="search-box">
          <img src="{% static 'userprofiles/images/search.png' %}" alt="">
          <input id="search-input" type="text" placeholder="Search">
        </div>
        <!-- <div class="search-list">
            <div style="display: flex;flex-direction: row;align-items: center;">
                <div style="font-size: large; color: rgb(0, 110, 255); margin: 10px;text-decoration: underline;display: block;margin-right: 70px;"> Danh sách tìm kiếm </div>
                <button type="button" class="remove-search-list" onclick="remove_search_list(event)">
                    <i class="fas fa-times" aria-hidden="true"></i>
                </button>
            </div>
            <a href="${url}" style="text-decoration: none;color:black;">
                <div class="person_being_searched">
                    <div class="person_being_searched_img">
                        <img style=" display: flex ; width: 100%;height: 100%;" src="/static/friends/images/hq720.webp" alt="Card Image">
                    </div>
                    <div>
                        <h3>Văn Tùng</h3>
                    </div>
                </div>
            </a>
        </div> -->
        <li id="space2"></li>
        
        <li> <a class="tooltip active" data-tooltip="Home" href="{% url 'homepage:homepage' %}" id="home"> <img src="{%static 'navbar/images/profile-home.png' %}"> </a> </li>
        {% comment %} <li> <a class="tooltip active" data-tooltip="Home" href="{% url 'homepage:homepage' %}" id="home"> <i class="fas fa-home    "></i> </a> </li> {% endcomment %}
        <li> <a class="tooltip" data-tooltip="Group" href="#" id="group"> <img src="{%static 'navbar/images/group.png' %}" style="height:35px; width:35px;"> </a></li>
        <li> <a class="tooltip" data-tooltip="Watch" href="#" id="tv"> <img src="{%static 'navbar/images/television.png' %}" style="width:35px; height:35px"> </a> </li>
        <li> <a class="tooltip" data-tooltip="Friend" href="{% url 'friends:friend' %}" id="friend"> <img src="{%static 'navbar/images/addUser.png' %}" style="height:35px; width:35px" > </a> </li>
        <li id="space1"></li>
        <!-- <li> <button class="tooltip" data-tooltip="Add" id="btn_plus"><i class="fas fa-plus    "></i></button> </li> -->
        <li> <button class="tooltip" data-tooltip="Message" id="btn_msg"><i class="fab fa-facebook-messenger    "></i></button></li>
        <li onclick="ListNotifToggle()"> <button class="tooltip button_notif" data-tooltip="Notification" id="btn_bell" > <i class="fas fa-bell    "></i></button></li>
        <!--notif-->
        
        <div class="profile-image online" onclick="UserSettingToggle()">
            <div class="profileImage">
                
            </div>
          
        </div>
    </ul>
    <!--style="display: none;"-->
    <div class="list_notif">
        {% comment %} <div class="container my-5 py-5 text-dark">
            <div class="col-md-12 col-lg-10 col-xl-8"> {% endcomment %}
              <div class="d-flex justify-content-between align-items-center mb-4 notif_header">
                <h4 class="text-dark mb-0" style="font-size: 25px;">Notification </h4><p>(4)</p>
                {% comment %} <div class="card">
                  <div class="card-body p-2 d-flex align-items-center">
                    <h6 class="text-primary fw-bold small mb-0 me-1">Comments "ON"</h6>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked />
                      <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                    </div>
                  </div>
                </div> {% endcomment %}
              </div>
      
              <div class="card mb-3">
                <div class="card-body">
                  <div class="d-flex flex-start comment_setting">
                    <div class="avt_user">
                      <img src="{%static 'userprofiles/images/avatar.png' %}">
                    </div>
                    <div class="notif">
                      <div class="content_notif">
                        <h3 class="name_user">MinhTuan </h3>
                        <p class="comments_notif"> Commented on your post.</p>
                      </div>
                      <div class="time_notif" style="color: blue;">6 minutes</div>
                    </div>
                    
                  </div>
                </div>
              </div>

              <div class="card mb-3">
                <div class="card-body">
                  <div class="d-flex flex-start comment_setting">
                    <div class="avt_user">
                      <img src="{%static 'userprofiles/images/avatar.png' %}">
                    </div>
                    <div class="notif">
                      <div class="content_notif">
                        <h3 class="name_user">QuocVuong</h3>
                        <p class="comments_notif"> Liked your post.</p>
                      </div>
                      <div class="time_notif" style="color: blue;">10 minutes</div>
                    </div>
                    
                  </div>
                </div>
              </div>

              <div class="card mb-3">
                <div class="card-body">
                  <div class="d-flex flex-start comment_setting">
                    <div class="avt_user">
                      <img src="{%static 'userprofiles/images/avatar.png' %}">
                    </div>
                    <div class="notif">
                      <div class="content_notif">
                        <h3 class="name_user">GiangAn</h3>
                        <p class="comments_notif"> Changed his avatar.</p>
                      </div>
                      <div class="time_notif" style="color: blue;">15 minutes</div>
                    </div>
                    
                  </div>
                </div>
              </div>
            {% comment %} </div>
        </div> {% endcomment %}
    </div>
    
    <div class="user-settings">
        <div class="profile-darkButton">
            <div class="user-profile">
                <a href="{% url 'userprofiles:profile'%}" class="inforUser">
                    <div class="profileImage">

                    </div>
                    <div id="userName1" class="userNameIcon">
                
                    </div>
                </a>
            </div>
            {% comment %} <div id="dark-button" onclick="darkModeON()">
                <span></span>
            </div> {% endcomment %}
        </div>
        <hr>
        <div class="user-profile">
            <img src="{% static 'userprofiles/images/change-profile.png' %}" alt="">
            <div>
                <p> View all personal content</p>
            </div>
        </div>
        <hr>
        <div class="settings-links">
            <img src="{% static 'userprofiles/images/setting.png' %}" alt="" class="settings-icon">
            <a href="#">Settings - Privary <img src="{% static 'userprofiles/images/arrow.png' %}" alt=""></a>
        </div>
    
        <div class="settings-links">
            <img src="{% static 'userprofiles/images/help.png' %}" alt="" class="settings-icon">
            <a href="#">Help - Support <img src="{% static 'userprofiles/images/arrow.png' %}" alt=""></a>
        </div>
    
        <div class="settings-links">
            <img src="{% static 'userprofiles/images/display.png' %}" alt="" class="settings-icon">
            <a href="#">Display - Accessibility <img src="{% static 'userprofiles/images/arrow.png' %}" alt=""></a>
        </div>
    
        <div class="settings-links">
            <img src="{% static 'userprofiles/images/logout.png' %}" alt="" class="settings-icon">
            <a href="{% url 'users:login' %}">Logout <img src="{% static 'userprofiles/images/arrow.png' %}" alt=""></a>
        </div>
    
    </div>
  </nav>
  
  <script src="{%static 'navbar/js/navbar.js' %}" ></script>
  <script src="{%static 'navbar/js/in4user.js' %}" ></script>
  <script src="https://kit.fontawesome.com/ef7e2b893b.js" crossorigin="anonymous"></script>

</body>

</html>
