<!DOCTYPE html>
<html>
<head>
    <title>Register Page</title>
</head>
<body>
    <h1>Register</h1>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    <form action="{% url 'core:register' %}" method="POST">
        {% csrf_token %}
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required><br><br>

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required><br><br>

        <label for="gender">Gender:</label>
        <input type="text" id="gender" name="gender" required><br><br>

        <label for="birth_date">Birthday:</label>
        <input type="date" id="birth_date" name="birth_date" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" required><br><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required><br><br>
        
        <input type="submit" value="Register">
    </form>

    <a href="{% url 'core:login' %}">LOGIN</a>

    <script>
        document.querySelector('form').addEventListener('submit', function(event) {
            event.preventDefault(); // prevent form submission

            // collect form data
            const formData = new FormData(event.target);

            // make a POST request to the server
            fetch(event.target.action, {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data['success']) {
                    alert(data['success']);
                } else {
                    alert(data['warning'])
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>

    {% if success %}
        <p>{{ success }}</p>
        <a href="{% url 'core:login' %}"> CLICK TO LOGIN</a>
    {% endif %}
</body>
</html>