@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family:'Poppins', sans-serif;
}

.Friends_List{
  background-color: rgb(255, 255, 255);
  flex: 1;
  display: flex;
  max-width: 300px;
  flex-direction: column;
  min-width: 300px;
  border: 2px solid #ccc;
}
.ab{
  background-color: #e4e9f0;
  display: flex;
  flex-direction: column;
  flex: 5;
}


.setting-btn {
  width: 45px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: #0861F2;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 0px 2px rgb(212, 209, 255);
}
.bar {
  width: 50%;
  height: 2px;
  background-color: rgb(229, 229, 229);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 2px;
}
.bar::before {
  content: "";
  width: 2px;
  height: 2px;
  background-color: rgb(126, 117, 255);
  position: absolute;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.3s;
  box-shadow: 0px 0px 5px white;
}
.bar1::before {
  transform: translateX(-4px);
}
.bar2::before {
  transform: translateX(4px);
}
.setting-btn:hover .bar1::before {
  transform: translateX(4px);
}
.setting-btn:hover .bar2::before {
  transform: translateX(-4px);
}



.card {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  border: 1px solid rgb(182, 184, 187);
  align-items: center;
}

.card:hover {
background-color: #f1fbff;
cursor: pointer;
}

.card-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: relative;
  object-fit: cover;
  margin-left: 15px; 
  border: 1px solid #ccc;
}

.card-content {
padding: 20px;
flex: 4;
display: flex;
}

.card-content h3 {
  font-size: 140%;
}

.card-list {
display: flexbox; 
flex: 10;
overflow-y: auto;
flex-wrap: wrap;
position: relative; 
flex-direction: row;
}

.card-list::-webkit-scrollbar {
width: 8px; /* Chiều rộng của thanh cuộn */
}

.card-list::-webkit-scrollbar-track {
background: #f1f1f1; /* Màu nền của thanh cuộn */
}

.card-list::-webkit-scrollbar-thumb {
background: #bdbbbb; /* Màu của thanh cuộn */
border-radius: 6px; /* Đường viền của thanh cuộn */
}

.card-list::-webkit-scrollbar-thumb:hover {
background: #727171; /* Màu của thanh cuộn khi di chuột qua */
}



/* phần danh sách lời mời kết bạn */

.friend-request{
flex: 1;
display: flex;
flex-direction: column;
width: 100%;
border-bottom: 2px solid #b6b9cc;
height: 50vh;
}


/* danh sach loi moi ket ban */
.request-list{
display: flex; 
position: relative; 
margin-left: 8vh;
flex: 6;
flex-wrap: wrap;
overflow-x: auto;
}
.request-list::-webkit-scrollbar {
width: 8px; /* Chiều rộng của thanh cuộn */
}

.request-list::-webkit-scrollbar-track {
background: #f1f1f1; /* Màu nền của thanh cuộn */
}

.request-list::-webkit-scrollbar-thumb {
background: #bdbbbb; /* Màu của thanh cuộn */
border-radius: 6px; /* Đường viền của thanh cuộn */
}

.request-list::-webkit-scrollbar-thumb:hover {
background: #727171; /* Màu của thanh cuộn khi di chuột qua */
}

/* danh sach goi y ket ban */
.suggest_list{
display: flex; 
position: relative; 
margin-left: 8vh;
flex: 6;
flex-wrap: wrap;
overflow-x: auto;
}
.suggest_list::-webkit-scrollbar {
width: 8px; /* Chiều rộng của thanh cuộn */
}

.suggest_list:-webkit-scrollbar-track {
background: #f1f1f1; /* Màu nền của thanh cuộn */
}

.suggest_list::-webkit-scrollbar-thumb {
background: #bdbbbb; /* Màu của thanh cuộn */
border-radius: 6px; /* Đường viền của thanh cuộn */
}

.suggest_list::-webkit-scrollbar-thumb:hover {
background: #727171; /* Màu của thanh cuộn khi di chuột qua */
}

.card1 {
width: 220px;
height: 390px;
background-color: #fff;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
overflow: hidden;
display: flex;
flex-direction: column;
border-radius: 10px;
margin-left: 5px;
margin-bottom: 10px;
}

.card1-img {
width: 100%;
height: 100%;
display: flex;
overflow: hidden;
position: relative;
object-fit: cover;
border: 1px solid #ccc;
flex: 7;
}

.card1-content {
padding: 10px;
flex: 1;
display: flex;
}

.card1-content h3 {
margin-top: 0;
font-size: 130%;
transition: 0.15s;
}
.card1-content h3:hover{
text-decoration: underline;
cursor: pointer;
}

.card1-button{
flex: 3.2;
display: flex;
justify-content: center; 
flex-direction: column; 
align-items: center; 

}


.button1{
display: block;
width: 200px;
height: 40px;
margin-bottom: 5px;
border: none; 
color: #ffffff; 
background-color:#0861F2;
border-radius: 8px;
font-weight: bold;
font-size: medium;
transition: 0.15s;
}
.button1:hover{
background-color:#0654d3;
}

.button2{
display: block;
width: 200px;
height: 40px;
border: none;
background-color:#D8DADF;
border-radius: 8px;
font-weight: bold;
font-size: medium;
transition: 0.15s;
}
.button2:hover{
background-color:#b8babe;
}