<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Welcome to the profile
    </h1>
    <p>
        You are logged in as {{ user.email }}
    </p>
    
    <form action="{% url 'users:logout' %}" method="post">
        <button type="submit">Logout</button>
    </form>

    <div id="image-box">
        <p>ten</p>
        <p>{{user_profile.first_name}} {{user_profile.last_name}}</p>
        <p>avatar</p>
        <img src="{{ user_profile_media.avatar.url }}" alt="Image" style="width: 200px;">
        <p>background</p>
        <img src="{{ user_profile_media.background.url }}" alt="Image" style="width: 200px;">
    </div>

    <script>
        console.log("{{ user_profile_media.avatar.url }}");
        console.log("{{ user_profile_media.background.url }}");
    </script>

</body>
</html>