@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;

}

:root {
    --body-color: #efefef;
    --nav-color: #1876f2;
    --bg-color: #fff;
}

.dark-theme {
    --body-color: #0a0a0a;
    --nav-color: #000;
    --bg-color: #000;
}

body {
    background: var(--body-color);
    transition: background 0.3s;
}

nav.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--nav-color);
    padding: 5px 5%;
    position: sticky;
    top: 0px;
    z-index: 100;
}


/* nav left */

img.logo {
    width: 160px;
    margin-right: 45px;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-left ul li {
    display: inline-block;
    list-style: none;
}

ul.navlogo li img {
    width: 24px;
    margin: 0px 13px;
}

.profile-image img {
    width: 40px;
    border-radius: 100%;
}


/* nav right */


.search-box {
    display: flex;
    background: var(--body-color);
    border-radius: 20px;
    align-items: center;
    padding: 0px 15px;
}

.search-box img {
    width: 16px;
}

.search-box input {
    width: 240px;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
}

.profile-image {
    margin: 7px 0px 0px 18px;
    cursor: pointer;
}

.online {
    position: relative;
}

.online::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border: 2px solid var(--bg-color);
    top: 0px;
    right: 0px;
    border-radius: 100%;
    background: #41db51
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}

/* content-area */

.left-sidebar {
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}

.right-sidebar {
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: var(--bg-color);
    border-radius: 4px;
    padding: 20px;
    color: #626262;
    max-height: 840px;
    overflow-y: auto;
}
.right-sidebar::-webkit-scrollbar {
    width: 8px; 
}
  
.right-sidebar::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
  
.right-sidebar::-webkit-scrollbar-thumb {
    background: #bdbbbb; 
    border-radius: 6px; 
}
  
.right-sidebar::-webkit-scrollbar-thumb:hover {
    background: #727171; 
}

.content-area {
    flex-basis: 47%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}

.important-links a,
.shortcut-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}

.important-links a img {
    width: 25px;
    margin-right: 15px;
}

.important-links a:last-child {
    color: #1876f2;
}

.important-links {
    border-bottom: 1px solid #ccc;
}

.shortcut-links a img {
    width: 40px;
    margin-right: 15px;
    border-radius: 4px;
}

.shortcut-links p {
    margin: 25px 0px;
    color: #626262;
    font-weight: 500;
}

.heading-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.right-sidebar {
    font-weight: 500;
    font-size: 16px;
}

.heading-link a {
    text-decoration: none;
    color: var(--nav-color);
    font-size: 13px;
}

.events {
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}

.left-event {
    box-shadow: 0 0 10px rgb(126 126 126 / 42%);
    margin-right: 15px;
    height: 65px;
    width: 65px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.events p {
    font-size: 12px;
}

.events a {
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}

.left-event span {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;

    background: #1876f2;
    color: var(--bg-color);
    font-size: 10px;
    padding: 4px 0pc;
}

img.advertisement-image {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}

.online-list {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.online-list .online img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    object-fit: cover;
    border: 1px solid #ccc;
}

.online-list .online {
    width: 46px;
    border-radius: 50%;
    margin-right: 15px;
}

.online-list .online::after {
    top: unset;
    bottom: 5px;
}

.write-post-container {
    color: #626262;
    background-color: var(--bg-color);
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;

}

.user-profile p {
    margin-bottom: -5px;
}

.user-profile small {
    font-size: 12px;
}

.post-upload-textarea {
    padding: 20px 0px 0px 55px;
}

.post-upload-textarea textarea {
    width: 100%;
    border: 0px;
    outline: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}

.add-post-links {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.add-post-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    font-size: 13px;
}

.add-post-links a img {
    width: 20px;
    margin-right: 13px;
}

.status-field-container {
    margin-top: 20px;
}

.status-field img {
    width: 100%;
    margin-top: 15px;
    border-radius: 6px;
}

.status-field p {
    font-size: 14px;
    margin: 20px 0px 5px 0px;
    text-transform: capitalize;
    color: #626262;
}

.status-field p a {
    color: var(--nav-color);
}

.activity-icons div {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}

.activity-icons div img {
    width: 18px;
    margin-right: 10px;
}

.post-reaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px;
}

.post-profile-picture img {
    width: 20px;
    border-radius: 50%;
    margin-right: 4px;

}

.post-profile-picture {
    display: flex;
    align-items: center;
}

.user-profile-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button.btn-LoadMore {
    margin: 20px auto;
    display: flex;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #626262;
    background: transparent;
    border-radius: 4px;
}

footer#footer {
    text-align: center;
    background: var(--nav-color);
    color: var(--bg-color);
    padding: 15px 0px;
    font-size: 13px;
}

.user-settings {
    position: absolute;
    right: 5%;
    background: var(--bg-color);
    top: 110%;
    max-width: 350px;
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.3s;
}

.user-setting-showup-toggle {
    max-height: 439px;
}

.user-settings .user-profile {
    padding: 20px;
}

.user-profile div p {
    color: #6a6a6a;
    font-weight: 600;
}

.user-settings .user-profile a {
    font-size: 13px;
    text-decoration: none;
    color: #626262;
}


.user-settings hr {
    width: 90%;
    margin: auto;
    background: #dbdbdb;
    border: 0px;
    height: 1px;
}

.settings-links {
    display: flex;
    align-items: center;
    margin: 15px 20px 25px 20px;
}

.settings-links img {
    width: 38px;
    margin-right: 10px;
}

.settings-links a img {
    width: 7px;
}

.settings-links a {
    color: #626262;
    flex: 1;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-darkButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#dark-button {
    background: #ccc;
    margin-right: 20px;
    padding: 2px 3px;
    border-radius: 15px;
    width: 45px;
    cursor: pointer;
}

div#dark-button span {
    background: var(--bg-color);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: block;
}

div#dark-button.dark-mode-on {
    background: #464545;
    padding: 2px 22px;
}

.btn-LoadMore.loadMoreToggle {
    background: red;
    color: white;
}
