{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Story</title>
    <link type="text/css" href="{%static 'userprofiles/css/editStory.css' %}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>

  <body>
    {% comment %} <p>{{userprofile}}</p> {% endcomment %}
    <div class="col-md-9">
      <form id="form-editStory" action="{% url 'userprofiles:editStory' %}" method="post">
        {% csrf_token %}
        <div class="tab-content">
          <div class="tab-pane fade active show" id="account-general">
              <hr class="border-light m-0">
              <div class="card-body">
                  <div class="form-group" class="intro-bio">
                      <label class="form-label"><i class="fas fa-user-circle"></i> Intro Bio</label>
                      <input type="text" name="bio" class="form-control mb-1" id="intro-bio" value="{{userprofile.bio}}">
                  </div>
                  <div class="form-group">
                      <label class="form-label"><i class="fas fa-briefcase"></i> Job</label>
                      <input type="text" name="work" class="form-control" id="Job" value="{{userprofile.work}}">
                  </div>
                  <div class="form-group">
                      <label class="form-label"><i class="fas fa-graduation-cap"></i> WorkPlace</label>
                      <input type="text" name="address_work" class="form-control mb-1" id="workPlace" value="{{userprofile.address_work}}">
                  </div>
                  <div class="form-group">
                      <label class="form-label"><i class="fas fa-home"></i> Current Residence</label>
                      <input type="text" name="address" class="form-control" id="current-residence" value="{{userprofile.address}}">
                  </div>
                  <div class="form-group">
                      <label class="form-label"><i class="fas fa-map-marker-alt"></i> From</label>
                      <input type="text" name="place_birth" class="form-control" id="placeOfBirth" value="{{userprofile.place_birth}}">
                  </div>
                  <div class="form-group">
                    <label class="form-label"><i class="fab fa-instagram"></i> Instagram</label>
                    <input type="text" name="social_link" class="form-control" id="linkInstagram" value="{{userprofile.social_link}}">
                </div>
              </div>
          </div>
        </div>
        <div class="text-right mt-3">
          <button type="submit" class="btn btn-primary">Save changes</button>&nbsp;
          <a href="{% url 'userprofiles:profile' %}">
              <button type="button" class="btn btn-default">Cancel</button>
          </a>
        </div>
      </form>
    </div>
    
    <!-- editStory js -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{%static 'userprofiles/js/editStory.js' %}"></script>
  </body>
</html>