{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{%static 'userprofiles/css/listFriend.css' %}" rel="stylesheet" />
    <link type="text/css" href="{%static 'userprofiles/css/profile.css' %}" rel="stylesheet" />
    <title>Profle - ListFriend</title>
    <script src="https://kit.fontawesome.com/ef7e2b893b.js" crossorigin="anonymous"></script>
</head>

<body>
    {%include 'navbar/navbar.html' %}

    <!-- profile-page -->

    <div class="profile-container">
      <div class="cover" id="coverImage">
        {% comment %} <img src="{%static 'userprofiles/images/cover.jpg' %}" class="coverImage" alt=""> {% endcomment %}
        <div class="edit-coverImage">
            <img src="{%static 'userprofiles/images/camera.png' %}" alt="">
            <a href="#" style="color: black;">Change your coverImage </a>
        </div>
      </div>
      <div class="dashboard">
        <div class="left-dashboard">
            <div class="avatar-container" id="avatarContainer">
                {% comment %} <img src="{%static 'userprofiles/images/avatar.png' %}" class="dashboard-img" alt="Avatar" id="avatarImage"> {% endcomment %}
            </div>
            
            <!-- Popup hoặc menu chứa các lựa chọn -->
            <div id="avatarOptions" class="avatar-options">
                <button onclick="viewAvatar()">View Avatar</button>
                <button onclick="chooseAvatar()">Choose Avatar</button>
            </div>                                
            <div class="left-dashboard-info">
                <div id="userName2" class="userName">

                </div>
                <p>446 Friends</p>
                <div class="mutual-friend-images">
                    <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                    <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                    <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                    <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                    <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="right-dashboard-info">
            <div class="right-dashboard-info-top">
                <div class="editProfile" id="editProfile">
                    
                </div>                     
            </div>
            <div class="right-div-single-logo"> <a href="#"> <i class="fas fa-ellipsis-h"></i></a></div>
        </div>
        <div class="list-choose">
            <ul class="profile-menu">
                <li><a href="{% url 'userprofiles:profile' %}">Posts</a></li>
                {% comment %} <li><a href="{% url 'userprofiles:about' %}">Giới thiệu</a></li> {% endcomment %}
                <li><a href="{% url 'userprofiles:listFriends' %}">Friends</a></li>
            </ul>
        </div>
      </div>

        <!-- list friends-->
        <div class="list-friends">
          <div class="first-row">
            <p>Bạn bè</p>
            <div class="right-align">
              <p>Lời mời kết bạn</p>
              <p>Tìm bạn bè</p>
              <div class="right-div-single-logo"> <a href="#"> <i class="fas fa-ellipsis-h"></i></a></div>
            </div>
          </div>
          <div class="second-row">
            <div class="someFriends">
              <div class="friend">
                <div class="imgFriend">
                  <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                </div>
                <div class="in4Friend">
                  <h4>Quoc Vuong</h4>
                  <p>100 mutuals friends</p>
                </div>  
              </div>
  
              <div class="friend">
                <div class="imgFriend">
                  <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                </div>
                <div class="in4Friend">
                  <h4>Quoc Vuong</h4>
                  <p>100 mutuals friends</p>
                </div>  
              </div>
  
              <div class="friend">
                <div class="imgFriend">
                  <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                </div>
                <div class="in4Friend">
                  <h4>Quoc Vuong</h4>
                  <p>100 mutuals friends</p>
                </div>  
              </div>
  
              <div class="friend">
                <div class="imgFriend">
                  <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                </div>
                <div class="in4Friend">
                  <h4>Quoc Vuong</h4>
                  <p>100 mutuals friends</p>
                </div>  
              </div>
  
              <div class="friend">
                <div class="imgFriend">
                  <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                </div>
                <div class="in4Friend">
                  <h4>Quoc Vuong</h4>
                  <p>100 mutuals friends</p>
                </div>  
              </div>
  
              <div class="friend">
                <div class="imgFriend">
                  <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                </div>
                <div class="in4Friend">
                  <h4>Quoc Vuong</h4>
                  <p>100 mutuals friends</p>
                </div>  
              </div>
            </div>
            <div class="moreFriends">
              <button>
                <p>More Friends</p>
              </button>
            </div>
          </div>
        </div>
    </div>
    <footer id="footer">
        
    </footer>
    
    <script src="{%static 'userprofiles/js/editAvt.js' %}" ></script>
    <script src="{%static 'userprofiles/js/profile.js' %}" ></script>
</body>

</html>