{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-xrJd3FWN0edZsvYOti2oZVrY02JzSXY5Jz6An+5KjpOb2Ry4LlQwUCYh1SU+65t4uV9iJKmbO7uUTFKWPtDzVg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link type="text/css" href="{%static 'userprofiles/css/profile.css' %}" rel="stylesheet" />
    {% comment %} <link type="text/css" href="{%static 'userprofiles/css/navbar.css' %}" rel="stylesheet" /> {% endcomment %}
    <title>Profle - Socialbook</title>
    <script src="https://kit.fontawesome.com/ef7e2b893b.js" crossorigin="anonymous"></script>
</head>

<body link-url="{% url 'userprofiles:editProfile' %}">
    {% include 'navbar/navbar.html' %}
    <!-- profile-page -->

    <div class="profile-container">
        <div class="cover" id="coverImage">
            {% comment %} <img src="{%static 'userprofiles/images/cover.jpg' %}" class="coverImage" alt=""> {% endcomment %}
            <div class="edit-coverImage">
                <img src="{%static 'userprofiles/images/camera.png' %}" alt="">
                <a href="#" style="color: black;">Change your coverImage </a>
            </div>
        </div>
        <div class="dashboard">
            <div class="left-dashboard">
                <div class="avatar-container" id="avatarContainer">
                    {% comment %} <img src="{%static 'userprofiles/images/avatar.png' %}" class="dashboard-img" alt="Avatar" id="avatarImage"> {% endcomment %}
                </div>
                
                <!-- Popup hoặc menu chứa các lựa chọn -->
                <div id="avatarOptions" class="avatar-options">
                    <button onclick="viewAvatar()">View Avatar</button>
                    <button onclick="chooseAvatar()">Choose Avatar</button>
                </div>                                
                <div class="left-dashboard-info">
                    <div id="userName2" class="userName">

                    </div>
                    <p>446 Friends</p>
                    <div class="mutual-friend-images">
                        <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                        <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                        <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                        <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                        <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="right-dashboard-info">
                <div class="right-dashboard-info-top">
                    <div class="editProfile" id="editProfile">
                        
                    </div>                     
                </div>
                <div class="right-div-single-logo"> <a href="#"> <i class="fas fa-ellipsis-h"></i></a></div>
            </div>
            <div class="list-choose">
                <ul class="profile-menu">
                    <li><a href="{% url 'userprofiles:profile' %}">Posts</a></li>
                    {% comment %} <li><a href="{% url 'userprofiles:about' %}">Giới thiệu</a></li> {% endcomment %}
                    <li><a href="{% url 'userprofiles:listFriends' %}">Friends</a></li>
                </ul>
            </div>
        </div>


        <div class="container content-profile-container">
            <div class="left-sidebar profile-left-sidebar">
                <div class="left-profile-sidebar-top">
                    <div class="intro-bio">
                        <h4>Story</h4>
                        {% comment %} <p>Em co nho anh khong <i class="far fa-smile-beam"></i></p> {% endcomment %}
                        <div class="intro-bio" id="intro_bio">

                        </div>
                        <hr>
                    </div>
                    <div class="background-details">
                        <a href="#"><i class="fas fa-briefcase"></i>
                            <p class="work" id="work">

                            </p>
                        </a>
                        <a href="#"><i class="fas fa-graduation-cap"></i>
                            <p class="address_work" id="address_work">
                                <!--Studied at University of Technology - Hanoi National University--> 
                            </p>
                        </a>
                        <a href="#"><i class="fas fa-home"></i>
                            <p class="address" id="address">
                                <!--Lives in Cau Giay, Ha Noi-->                           
                            </p>
                        </a>
                        <a href="#"><i class="fas fa-map-marker-alt"></i>
                            <p class="place_birth" id="place_birth">
                                <!--From Y Yen, Nam Dinh-->
                            </p>
                        </a>
                        <a href="https://www.instagram.com/_minhtuann_201/" target="_blank">
                            <i class="fab fa-instagram"></i>
                            <p style="color: blue">_minhtuann_201</p>
                        </a>
                    </div>
                    <div class="edit-story-wrapper">
                        <a href="{% url 'userprofiles:editStory' %}" class="editStory">
                            <button type="button" class="edit-story-btn">
                                <i class="far fa-edit"></i> Edit your story
                            </button>
                        </a>
                    </div>                    
                </div>

                <div class="left-profile-sidebar-top gallery">
                    <div class="heading-link profile-heading-link">
                        <h4>Photos</h4>
                        <a href="">All Photos</a>
                    </div>

                    <div class="gallery-photos">
                        <div class="gallery-photos-rowFirst">
                            <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                            <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                            <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                            <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                            <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                            <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                        </div>
                    </div>
                </div>

                <div class="left-profile-sidebar-top gallery">
                    <div class="heading-link profile-heading-link">
                        <h4>Friends</h4>
                        <a href="">All Friends</a>
                    </div>

                    <div class="gallery-photos">
                        <div class="gallery-photos-rowFirst">
                            <div class="first-friend">
                                <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                                <p>Vuong1</p>
                            </div>
                            <div class="second-friend">
                                <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                                <p>Vuong2</p>
                            </div>
                            <div class="third-friend">
                                <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                                <p>Vuong3</p>
                            </div>
                            <div class="forth-friend">
                                <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                                <p>Vuong4</p>
                            </div>
                            <div class="fifth-friend">
                                <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                                <p>Vuong5</p>
                            </div>
                            <div class="sixth-friend">
                                <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                                <p>Vuong6</p>
                            </div>
                            <div class="seventh-friend">
                                <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                                <p>Vuong7</p>
                            </div>
                            <div class="eighth-friend">
                                <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                                <p>Vuong8</p>
                            </div>
                            <div class="ninth-friend">
                                <img src="{%static 'userprofiles/images/avtVuong.png' %}" alt="">
                                <p>Vuong9</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- main-content- -->

            <div class="content-area profile-content-area">
                {% include "posts/posts.html" %}
            </div>
            
        </div>
    </div>
    <footer id="footer">
        
    </footer>
    
    {% comment %} <script src="{%static 'userprofiles/js/function.js' %}" ></script> {% endcomment %}
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{%static 'userprofiles/js/editAvt.js' %}" ></script>
    <script src="{%static 'userprofiles/js/profile.js' %}" ></script>
</body>

</html>