{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Welcome to the profile
    </h1>

    <div id="profile">
    </div>

    <div id="block-up-post">
        {% include 'posts/posts.html' %}
    </div>
    
    <form action="{% url 'users:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

    <script src="{% static 'userprofiles/js/profile_t.js' %}"></script>

</body>
</html>